$bg-color: #f1f2f7;

.login-page {
    //background-color: $bg-color;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;

    .translate-left, .translate-right {
        padding: 0;
        display: block;
        height: 100%;
        will-change: auto;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
        -webkit-transition: -webkit-transform 0.6s ease-in-out;
        transition: -webkit-transform 0.6s ease-in-out;
        transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    }

    .switch-left {
        -webkit-transform: translateX(525px);
        transform: translateX(525px);
    }

    .switch-right {
        -webkit-transform: translateX(-375px);
        transform: translateX(-375px);
    }

    .login-wrap {
        overflow: hidden;
        width: 900px;
        height: 400px;
        background: #fff;
        border-radius: 4px;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);

        .logo {
            padding: 25px 0;
            text-align: center;

            img {
                width: 73px;
                height: 73px;
                display: inline-block;
                fill: currentColor;
            }
        }

        .title {
            font-weight: bold;
            color: #D70700;
            font-size: 22px;

            .subtitle {
                color: #000000a3;
            }

            a {
                cursor: cell;

                &:before {
                    content: '[';
                    opacity: 0;
                    margin-right: 10px;
                    -webkit-transform: translateX(-10px);
                    transform: translateX(-10px);
                    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
                    transition: opacity 0.2s, -webkit-transform 0.2s;
                    transition: transform 0.2s, opacity 0.2s;
                    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
                }

                &:after {
                    content: ']';
                    opacity: 0;
                    margin-left: 10px;
                    -webkit-transform: translateX(10px);
                    transform: translateX(10px);
                    -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
                    transition: opacity 0.2s, -webkit-transform 0.2s;
                    transition: transform 0.2s, opacity 0.2s;
                    transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
                }

                &:hover {
                    &:after, &:before {
                        opacity: 1;
                        -webkit-transform: translateX(0);
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .switch-left {
        -webkit-transform: translateX(0px) !important;
        transform: translateX(0px) !important;
    }
}

.login-wrap .forget-wrap-title {
    padding-top: 30px;
    padding-left: 15px;
}

.login-wrap .forget-form {
    padding: 20px 30px 30px;
    padding-bottom: 0;
}

.login-wrap .login-form {
    padding: 15px 30px;
    padding-bottom: 0;
}

.get-code {
    text-align: right;
}

.login-wrap .login-footer {
    padding: 0 30px;
}

.forget{
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: #606266;
}

.login-wrap .wallpaper {
    width: 100%;
    height: 100%;
    position: relative;
}

.login-wrap .wallpaper {
    background-image: url("../images/login-wallpaper.jpg");
    background-size: cover;
}

.el-button--primary {
    color: #fff;
    background-color: #D70700;
    border-color: #D70700;
}

.el-button--primary:focus, .el-button--primary:hover {
    background: #D70700;
    border-color: #D70700;
    color: #fff;
    opacity: .8;
}

.el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
    border-color: #D70700;
}

/* navbar */
.el-header {
    line-height: 60px;
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
}

.left-logo {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

.container, .container .row {
    height: 100%;
}

.remember-box {
    margin-top: 20px;
}
